section {
  margin-bottom: 40px;
}
.title {
  font-size: 26px;
  margin: 16px 0;
}
.movieCard {
  display: flex;
  gap: 30px;
}
.poster {
  width: 360px;
}
.info {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  line-height: 1.4;
  & span {
    font-size: 18px;
    font-weight: 700;
  }
}
